<h1>Lista de contactos</h1>

<form (submit)="$event.preventDefault();">
    <!-- (submit)="$event.preventDefault(); aniadirPersona(nombre.value, apellido.value, edad.value, password.value)"-->
    <table>
        <tr>
            <td><label for="nombre"></label></td>
            <td><input type="text" #nombre>Nombre</td>
        </tr>

        <tr>
            <td><label for="apellido"></label></td>
            <td><input type="text" #apellido>Apellido</td>
        </tr>

        <tr>
            <td><label for="edad" ></label></td>
            <td><input type="text" #edad>Edad</td>
        </tr>

        <tr>
            <td><label for="password" ></label></td>
            <td><input type="text" #password>Password</td>
        </tr>

        <tr>
            <td> <button id="enviar" type="submit">Enviar</button></td>
        </tr>

    </table>
</form>


<!--<div *ngIf="!isEmpty()">
    <div *ngFor="let per of personas">
        <h2>{{per.nombreCompleto()}}</h2>
        <span>{{per.mostrarInfo()}}</span>
    </div>

</div> -->

<a routerLink="/home">Inicio</a>