<div class="menu">
    <h3>Ejercicios</h3>
    <ul>
       <li><a routerLink="/contactos">lista de contactos     </a></li>
       <li><a routerLink="/contactos_v2">lista de contactos  version 2  </a></li>
       <li><a routerLink="/mostrarOcultar">mostar ocultar item   </a></li>
       <li><a routerLink="/listaNombres"> lista de nombres        </a></li>
       <li><a routerLink="/cambiarTitulo"> cambiar encabezado    </a></li>
       <li><a routerLink="/ListasCRUD"> listas con CRUD  </a></li>
       <li><a routerLink="/FormValidado"> Formulario con Validacion  </a></li>

    </ul>
 </div>
