
<div class="row bg-secondary bg-gradient " id="header-top-bar">
    <div class="row ">
        <div class="col-1"><a href="https://argentinaprograma.inti.gob.ar/"><img src="../../../../assets/icons/APLogo.png" alt=" logoYoProg" class="img-fluid img-icon "></a></div>
        <div class="col-3 off-set-1">
            <a href="https://github.com/leonls1?tab=repositories" ><img src="../../../../assets/icons/github.png" alt="github" class="img-icon img-fluid"></a>
            <a href="https://www.linkedin.com/in/leon-lederhos-1500661a3/" ><img src="../../../../assets/icons/linkedin.png" alt="Linkedin" class="img-icon img-fluid"></a>
        </div>
        <div class="col-3 offset-5 d-flex LogIn">
            <span *ngIf="!loggedIn">
                <button type="button" class="btn btn-outline-light" (click)="login()">Ingresar</button>
            </span>
            <span *ngIf="loggedIn">
                <button type="button" class="btn btn-outline-light" (click)="logOut()">Cerrar sesion</button>           
            </span>
           
        </div>
    </div>
 
    <div class="col-12">
        <img src="../../../../assets/images/peakpx.jpg" alt="imagen intro" class="main">
    </div>
</div>
