<h2>Lista empleados</h2>
<table class="table table-striped">
    <thead class="table-dark"> 
        <tr >
            <th>Nombre</th>
            <th>Apellido</th>
            <th >Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let empleado of empleados"> <!--es asi que puedo ingresar a mi lista
        e ir empleado por empleado mostrando todos los atributos del mismo-->
            <td>{{empleado.nombre}}</td>             
            <td>{{empleado.apellido}}</td>
            <td>{{empleado.email}}</td>
            <td>
                <button (click)="actuliazarEmpleado(empleado.id)" class="btn btn-info">Editar</button>
                <button (click)="eliminarEmpelado(empleado.id)" class="btn btn-danger" style="margin-left: 10px">Eliminar</button>
                <button (click)="detalleEmpleado(empleado.id)" class="btn btn-primary" style="margin-left: 10px">Detalles</button>
            </td>
        </tr>
    </tbody>
</table>