<div class="intro">
    <app-top-bar></app-top-bar>
    <div class="header-about-me d-inline-flex row">
        <div class="col-1">
            <img src="../../../assets/images/profile.jpeg" alt="profile image" class="profile">
        </div>
        <div class="col-md-2 offset-1">
            <p>{{persona.nombre}} {{persona.apellido}}</p>
            <p>{{persona.titulo}}</p>
        </div>
        <div class="col-8" id="intro-desc">
            <app-button class=" btn-add" texto="edit" color="yellow" [estado]=false icon="bi bi-pencil"
                (btnClick)="enableEditing()"></app-button>
                <h3><b>Acerca de mi</b></h3>
                <p>{{persona.descripcion}} Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui voluptates deserunt maxime architecto ipsa sapiente dolore voluptatibus atque a natus explicabo quia assumenda tenetur, nemo error animi corporis aut quis.
                </p>
        </div>

    </div>
</div>