<div class="intro">
    <app-top-bar></app-top-bar>
    <div class="header-about-me d-inline-flex row">
        <div class="col-1">
            <img src="../../../assets/images/profile.jpeg" alt="profile image" class="profile">
        </div>
        <div class="col-md-3 offset-1">
            <p>{{persona.nombre}} {{persona.apellido}}</p>
            <p>{{persona.titulo}}</p>
        </div>
        <div class="col-7" id="intro-desc">
            <app-button class=" btn-add" texto="edit" color="yellow" [estado]=false icon="bi bi-pencil"
                ></app-button>
                <h3><b>Acerca de mi</b></h3>
                <p>{{persona.descripcion}} 
                </p>
        </div>

    </div>
</div>