#contactInfo {
  display: flex;
  text-align: center;
  flex-direction: column;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}

.invalid_field{
  border-color: red;
}

nav a {
  margin-left:20px
}
