<div class="row">
    <!--tengo que agregar el *ngfor arriba para que recorra la lista de experiencias-->
    <h3><b>Educacion</b></h3>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
            <p>Lugar</p>
            <p>fecha inicio - fecha fin</p>
            <p>logo</p>
        </div>
        <div class="col-8">
            <h3><b>Descripcion</b></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia harum dolor amet, velit molestias sint nemo eum sit asperiores illum ea aut assumenda sapiente soluta ut, nesciunt nisi laboriosam laborum?</p>
        </div>
    </div>
</div>