<div class="container-fluid">
    <h2>Habilidades</h2>
    <div class="row">

        <div class="col-1"></div>
        <div class="col-11">
            <h3>Hard Skills {{listaHabilidades.length}}</h3>
            <circle-progress [percent]="85" [radius]="70" [title]="'Organization'" [showUnits]="false"
                [outerStrokeWidth]="16" [showSubtitle]="false" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
            <circle-progress [percent]="85" [radius]="70" [title]="'plannig'" [showUnits]="false"
                [outerStrokeWidth]="16" [showSubtitle]="false" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
            <circle-progress [percent]="60" [radius]="70" [title]="'Java'" [showUnits]="false" [outerStrokeWidth]="16"
                [showSubtitle]="false" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
        </div>

    </div>
    <div class="row">

        <div class="col-1"></div>
        <div class="col-11">
            <h3>Soft Skills</h3>
            <circle-progress [percent]="30" [radius]="70" [title]="'empathy'" [outerStrokeWidth]="16"
                [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="300"></circle-progress>
        </div>
    </div>
</div>
<!--
<h1>Habilidades</h1>
<div class="container-fluid">
    <div *ngFor="let num of [123,23]" class="row">
        <div class="col-md-2" >
            num
        </div>
    </div>
</div>-->