<div class="container" *ngIf="skill">
    <div class="row">
        <div>
            <form action="" (ngSubmit)="onUpdate()"  #f="ngForm">
                <div class="form-group">
                    <label for="nombreExp">Nombre de la Habilidad</label>
                    <input type="text" class="form-control" id="nombreSkill" name="nombre"  [(ngModel)]="skill.nombre" required minlength="3" maxlength="12">
                    <div  *ngIf="f.controls['nombre'].touched && f.controls['nombre'].invalid" >
                        <div *ngIf="f.controls['nombre']?.hasError('required')" class="invalid_field"> El nombre es requerido</div>
                        <div *ngIf="f.controls['nombre']?.hasError('minlength')" class="invalid_field"> El nombre debe tener entre 3 y 12 caracteres</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="descripcion">Porcentaje %</label>
                    <input type="number" class="form-control" id="Porcentaje"name="porcentaje" [(ngModel)]="skill.porcentaje" required min="0" max="100">
                    <div  *ngIf="f.controls['porcentaje'].touched && f.controls['porcentaje'].invalid" >
                        <div *ngIf="f.controls['porcentaje']?.hasError('required')" class="invalid_field"> El porcentaje es requerido</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="rol">Tipo de habilidad</label> <br>
                    <input type="radio" id="blanda" name="tipo" value=true [(ngModel)]="skill.tipo" checked>
                    <label for="blanda"> Blanda</label><br>
                    
                    <input type="radio" id="dura" name="tipo" value=false [(ngModel)]="skill.tipo">
                    <label for="dura"> Dura</label>
                </div>

                <input type="submit" value="Actualizar Habilidad" [disabled]="f.invalid" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
