<div class="row">
    <h2>Proyectos realizados</h2>
    <div class="col-1"></div>
    <div class="col-2">
        <h3>Nombre</h3>
        <h5>Fecha creacion</h5>
        <h5>link(url)</h5>
    </div>
    <div class="col-9">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos molestias cum unde ad quo, necessitatibus nemo hic. Deserunt, esse velit. Voluptate eius voluptatum, temporibus earum nihil placeat incidunt in magni.</p>
        <div>
            <img src="../../../assets/images/Rappa!.png" alt="img1 del proyecto" class="img-proyect  img-fluid">
            <img src="../../../assets/images/Rappa!.png" alt="img1 del proyecto" class="img-proyect  img-fluid">
            <img src="../../../assets/images/Rappa!.png" alt="img1 del proyecto" class="img-proyect  img-fluid">
        </div>
    </div>
</div>
