<div class="row">
    <!--tengo que agregar el *ngfor arriba para que recorra la lista de experiencias-->
    <h3><b>Experiencia</b></h3>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaExperiencia" *ngIf="loggedIn">Agregar experiencia</button>
    </div>
    <br>
    <div class="row" *ngFor="let exp of experiencias">
        <div class="row">
            <div class="col-md-3 offset-1">
                <p>{{exp.nombreEmpresa}} / {{exp.rol}} </p>
            </div>
            <div class="col-md-3 offset-5 ">
                <span *ngIf="loggedIn">
                    <button class="btn btn-secondary" 
                    style="margin-right: 5px;"
                    routerLink="/editarExperiencia/{{exp.id}}"
                    > <i class="bi bi-pencil"></i>
                    Editar
                </button>
                </span>
                <span *ngIf="loggedIn">
                    <button class="btn btn-danger"
                    (click)="onDelete(exp.id)"
                    ><i class="bi bi-trash"></i>
                    Eliminar</button>
                </span>
                
                
            </div>
        </div>
        <div class="col-3 offset-1 ">
            <p><b>FechaInicio-Fin: </b>{{exp.fechaInicio}} - {{exp.fechaFin}}</p>
        </div>
        <div class="col-8">
            <p>{{exp.descripcion}}</p>
        </div>
    </div>

</div>