*{margin: 0%;
    padding: 0%;}
    
    body{
        background-color: red;
    }
    header{
        background-image: url('img/painting1.jpg');
        height: 90vh;
        background-attachment: fixed;
        background-size: cover;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    
    header img {
        border-radius: 100vh; /* hace el borde redondo*/
        height: 25vh;
        width: 25vh;
    }
    
    nav {
        background-color:deepskyblue;
        height: 10vh;
        color: white;
        text-decoration: none;
    }
    nav a{
            
        display: inline-block;
        height: 200px;
        width: 200px;
        text-align: center;
    }
    
    section{
        height: 100vh;
        display: flex;
        justify-content: center;
    
        background-color: cyan;
    }
    section :hover{
        background-color: orange;
        transition: 1s;
    }
    section h3{
        width: 20%;
        background-color: coral;
    }
    
    nav li{
        display: inline;
    }
    
    form{
        padding: 20px;
        margin: 20px;
    }
    
    form input{
        display: flex;
        
    }