
<div class="row bg-secondary bg-gradient " id="header-top-bar">
    <div class="col-1 ">
            <img src="https://picsum.photos/100/100 " alt=" logoYoProg" class=" img-fluid rounded-circle img-yoprogramo ">
    </div>
    <div class="col-1 d-flex align-items-center">
        <a href="https://argentinaprograma.inti.gob.ar/"> YoProgramo</a>
    </div>
    <div class="col-1 offset-8 d-flex align-items-center LogIn">
        <!-- <button class="btn btn-info btn-Language">Idioma</button> -->
        <!-- <button class="btn btn-primary btn-LogIn ">Ingresar</button>-->
        <app-button 
        class="btn btn-primary btn-LogIn"
        color=""
        texto="Ingresar"
        (btnClick)="validar()">
        </app-button>
    </div>
</div>

<div class="header-img-profile"></div>
<div class="header-nav-bar">  <nav>
    <a href="#exp" class="btn btn-primary">Experiencia </a>
    <a href="#education" class="btn btn-primary">Educacion </a>
    <a href="#skills" class="btn btn-primary">Habilidades </a>
    <a href="#proyects" class="btn btn-primary">Proyectos </a>
    <a href="#contactInfo" class="btn btn-primary">Contacto </a>
  </nav></div>  
<div class="header-about-me d-inline-flex">

    <div class="col-md-3 offset-1">
        <p><b>Acerca de mi</b></p>
        <p >{{nombre}}</p>
        <p >{{titulo}}</p>
        
    </div>
    <div class="col-7" id="intro-desc">
        <app-button 
        class="offset-11 btn-add"
        texto="edit"
        color="yellow"
        [estado]=false
        (btnClick)="enableEditing()"
    ></app-button>
        <p>{{descripcion}}
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia atque vel quasi modi eligendi et illum officiis perspiciatis itaque obcaecati, voluptates dolorum, dolorem consequuntur consequatur. Veniam molestias placeat non hic!
        </p>
    </div>

</div>