<div class="intro">
    <app-top-bar></app-top-bar>
    <div class="header-about-me d-inline-flex row">
        <div class="col-1">
            <img src="../../../assets/images/profile.jpeg" alt="profile image" class="profile">
        </div>
        <div class="col-md-2">
            <p>Nombre: {{nombre}}</p>
            <p>Titulo: {{titulo}}</p>
        </div>
        <div class="col-8" id="intro-desc">
            <app-button class="offset-11 btn-add" texto="edit" color="yellow" [estado]=false icon="bi bi-pencil"
                (btnClick)="enableEditing()"></app-button>
                <h3><b>Acerca de mi</b></h3>
                <p>{{descripcion}}
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia atque vel quasi modi eligendi et illum
                officiis perspiciatis itaque obcaecati, voluptates dolorum, dolorem consequuntur consequatur. Veniam
                molestias placeat non hic!
                </p>
        </div>

    </div>
</div>