<div class="header">
   <h1> {{title}}</h1>
   <app-button 
        color="red" 
        text="Cambiar Titutlo -> saludar a leon"
        (btnClick)="saludarALeon()">
   </app-button>
   <app-button
        color="green"
        text="Cambiar Titutlo -> saludar a sasha"
        (btnClick)="saludarSasha()">
   </app-button>

   <p>
     <input 
     type="text" 
     id="txt"
     {[(ngModel)]="txt"}>
     
     <app-button
     
     color="blue"
     text="Cambiar el titulo"
     (btnClick)="cambiarTitulo('algo')">          
     </app-button>
    
   </p>

</div>
