<form 
    action="add-form" 
    (ngSubmit)="onSubmit()"
    *ngIf="showAddTask" 
    > <!--En el caso de que sea verdadero el showAddTask me va a mostrar todo el formulario para poder agregar una tarea-->
    <div class="form-control">
        <label for="text">Task</label>
        <input 
            type="text" 
            name="text"  
            id="text" 
            placeholder="Add task"
            [(ngModel)]="text"
        /> <!--Doble binding con el [(ngModel)] asi puedo recibir desde template y tambier usarlo para enviarle algo-->
    </div>

    <div class="form-control">
        <label for="day">Day & Time</label>
        <input 
            type="text" 
            name="day"  
            id="day" 
            placeholder="Add day & time"
            [(ngModel)]="day"
        >
    </div>

    <div class="form-control form-control-check">
        <label for="reminder">Reminder</label>
        <input 
        type="checkbox" 
        name="reminder"  
        id="reminder" 
        placeholder="Add reminder"
        [(ngModel)]="reminder"
        >
    </div>
    {{text}}
    {{day}}
    {{reminder}}
    <input type="submit" value="Save Task" class="btn btn-block">
</form>
