<div class="header">
  <app-intro></app-intro>
  <nav>
    <a href="#exp" class="btn btn-primary">Experiencia </a>
    <a href="#education" class="btn btn-primary">Educacion </a>
    <a href="#skills" class="btn btn-primary">Habilidades </a>
    <a href="#proyects" class="btn btn-primary">Proyectos </a>
    <a href="#contactInfo" class="btn btn-primary">Contacto </a><
  </nav>
</div>
<div class="main">
  <app-experience id="exp"></app-experience>
  <app-education id="education"></app-education>
  <app-skills id="skills"></app-skills>
  <app-proyects id="proyects"></app-proyects>

</div>
<div class="footer" id="contactInfo"></div>