<div class="container-fluid"> 
    <div class="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a href="#exp" class="btn btn-primary">Experiencia </a>
        <a href="#education" class="btn btn-primary">Educacion </a>
        <a href="#skills" class="btn btn-primary">Habilidades </a>
        <a href="#proyects" class="btn btn-primary">Proyectos </a>
        <a href="#contactInfo" class="btn btn-primary">Contacto </a>
      </nav>  
      <app-intro class="intro"></app-intro>
      </div>
      <div class="main">
        <app-experience id="exp"></app-experience>
        <app-education id="education"></app-education>
        <app-skills id="skills"></app-skills>
        <app-proyects id="proyects"></app-proyects>
      
      </div>
      <div class="footer" id="contactInfo">
        <p>Lederhos Sturich Leon | @Argentina programa 2023</p>
        <p>Cordoba, Argentina</p>
      </div> 
  </div>
  
