<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de empleados</h3>
    <form action="" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label >Nombre:</label>
            <input type="text" id="nombre" class="form-control" [(ngModel)]="empleado.nombre" name="nombre">
            <!--asignando el ngModel a la variable nombre del empleando en mi componente-->
            <label >Apellido:</label>
            <input type="text" id="apellido" class="form-control" [(ngModel)]="empleado.apellido" name="apellido">

            <label >Email:</label>
            <input type="text" id="email" class="form-control" [(ngModel)]="empleado.email" name="email">

        </div>
        <button class="btn btn-success">Guardar</button>
    </form>
</div>
